@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import "bootstrap/scss/bootstrap";

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.content-fade
{
    transition: 200ms all ease;
    opacity: .7;
    pointer-events: none;
}
